<script>
    var doc = $(document);
    var width = $(document).width();
    var height = $(document).height();
    
    jQuery.fn.center = function(){
        this.css("position","fixed");
        this.css("top", Math.max(0, (($(window).height() - $(this).outerHeight()) / 2) + $(window).scrollTop()) + "px");
        this.css("left", Math.max(0, (($(window).width() - $(this).outerWidth()) / 2) + $(window).scrollLeft()) + "px");

        return this;
    }

    $(document).on("ready", function(){

        $(".formSche").on("click", function(){

            if($("#chkAll").is(":checked")){
                $('#chkOne').prop('checked', false);
                $("#schLwrs").prop("selectedIndex",0).prop("disabled",true);
            }

            if($("#chkOne").is(":checked")){
                $('#chkAll').prop('checked', false);
                $("#schLwrs").prop("selectedIndex",0).prop("disabled",false);
            }
        })

        // $("#btnSch").on("click", function(e){
        //     e.preventDefault();

        //     var optSlctd = $(".ckSch:checked").attr("data-sch");
        //     var usrSlctd = $("#schLwrs option:selected").val();
        //     var dteSlctd = $("#dwSch").val();

        //     //alert(optSlctd + ' ' + usrSlctd + " " + dteSlctd)
        //     if(dteSlctd == "")
        //         alert("Seleccione una fecha valida.")
        //     else{
        //         if(optSlctd == 1){
        //             RequestForPDF(optSlctd,null,dteSlctd)
        //         }
        //         else if(optSlctd == 2){
        //             if(!parseInt(usrSlctd))
        //                 alert("Seleccione el asesor del cual desea descargar la agenda.")
        //             else{
        //                 RequestForPDF(optSlctd,usrSlctd,dteSlctd)
        //             }
        //         }
        //     }
        // });

        // function RequestForPDF(option,user,date){
        //     var data = { option: option, user: user, date: date};
        //     var http = new XMLHttpRequest();
        //     var url = "/appointment/PrintSchedulePDF";

        //     http.open("POST",url,true);
        //     http.setRequestHeader("Content-type","application/json; charset-utf8");
        //     http.onload = function(){
        //         if(this.status === 200){
        //             var blob = new blob([http.response], {type:"application/pdf"});
        //             var objectUrl = URL.createObjectURL(blob);
        //             window.open(objectUrl);
        //         }
        //     };

        //     http.send()

        //     // $.ajax({
        //     //     type: "POST",
        //     //     url: ,
        //     //     contentType: 'application/pdf',
        //     //     dataType: "pdf",
        //     //     data: JSON.stringify(data),
        //     //     success: function(resp){
        //     //         window.open(resp)
        //     //     },error: function(xhr,status,error){
        //     //         alert(error);
        //     //         console.log(xhr);
        //     //     }
        //     // })
        // }

        $("#dashSch").on("click", function(e){
            e.preventDefault();
            $(".schPrnt").prop("hidden",false);
            var modalSchedule = $(".schPrnt");
            modalSchedule.fadeIn(500);
            capaModalAppear(modalSchedule)
        })

        var usrRole = $("#userRole").text();
        if( usrRole == 4 || usrRole == 2){
            $.ajax({
                type: "POST",
                url: '/day/getAllUsers',
                dataType: "json",
                contentType: "application/json; charset-utf8",
                success: function(resp){
                    var usr = "", opt = "";
                    $(resp).each(function(i,e){
                        usr += "<li class='lstLawyer' data-clr='" + e.color.color + "' data-usr='" + e.id + "'><a>" + e.nombre + " " + e.apaterno + "</a></li>";
                        opt += "<option value=" + e.id + ">" + e.nombre + " " + e.apaterno + "</option>";
                    });

                    $(".listUsers").append(usr);
                    $("#schLwrs").append(opt);

                    $(".listUsers > li").each(function(i,e){
                         var auxCol = $(e).attr("data-clr"); 
                         $(e).css({"color":auxCol, "font-size":"18px", "cursor":"pointer"});
                    })


                }, error: function(xhr,status,error){
                    console.log(xhr);
                    alert(error);
                }
            });
        }

        $("#cltAppSrch").on("keypress", function(e){
            var txt = $(this).val();
            if(e.which == 13){
                if(txt == ""){
                    alert("Debe escribir un nombre o numero telefonico.")
                    txt = '';
                }else{

                    var clt, opt;

                    if(!parseInt(txt)){
                        var fllNm = txt.split(" ");
                        clt = fllNm[0];
                        opt = 1;
                    }else{
                        clt = txt; opt = 2;
                    }

                    console.log(txt)
                    var data = { client : clt, opt : opt };

                    $.ajax({
                        type: "POST",
                        url: "/appointment/searchCustomer",
                        dataType: "json",
                        contentType: "application/json; charset-utf8",
                        data: JSON.stringify(data),
                        success: function(resp){
                            if(resp == 0)
                                alert("No se encontraron resultados.")
                            else{
                                var modalAppoint = $(".modal-body-clts");

                                $("#tblCltsLst").empty();
                                var tr = "", fecha, hora;
                                $(resp).each(function(i,e){
                                    fecha = moment(e.fecha).format("DD-MMM-YYYY");
                                    hora = moment(e.hora).format("HH:mm:ss a");
                                    tr += "<tr><td>" + toTitleCase(e.nombreclt) + " " + toTitleCase(e.apaternoclt) + "</td><td>" + e.telefonoclt + "</td><td>" + fecha + "</td><td>" + hora + "</td></tr>";
                                });
                                $("#tblCltsLst").append(tr);

                                modalAppoint.fadeIn(500);
                                capaModalAppear(modalAppoint)
                            }
                        }, error: function(xhr, status, error){
                            console.log(xhr);
                            alert(error);
                        }
                    })
                }
                    
            }
        })

        $("#allCalendars").on("click", function(){
            $(".childtdcitas, .dayApp").show();
        });   

        $("#dashVar").on("click", function(e){
            window.location.href = "/users/variety"
        })    

        $(".notifications .messages").hide();

        $(".noti").click(function() {
            if ($(this).children(".messages").children().length > 0) {
                $(this).children(".messages").fadeToggle(300);
            }
        });
    });
</script>
